fastapi
uvicorn
redis
torch
torchvision
numpy
opencv-python
pandas
shapely
websockets
pydantic
scikit-learn
ultralytics
filterpy
requests
tqdm
tensorboard
pyproj
geopandas
sentinelsat
onnx
onnxruntime
